

GEMINI_API_KEY=""

OPENROUTER_API_KEY=""

MISTRAL_API_KEY=""

GROQ_API_KEY=""

# Database paths
DB_PATH=database/store/candidates.db
TABLE_NAME=candidates

# Vector store
ENCODER_MODEL_DIR=database/store/encoder_model
INDEX_STORE_PATH=database/store/index_store

# Assets
CVS_PATH=assets/cvs

# Database configurations

DB_USER="your-postgres-username"
DB_PASSWORD="your-postgres-password"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="incorta_hr_v2"
DB_URL= "postgresql://username:password@localhost:5432/incorta_hr_v2"

# LLM configurations
