

GEMINI_API_KEY=""

OPENROUTER_API_KEY=""

MISTRAL_API_KEY=""

GROQ_API_KEY=""


# Database connection details
DB_USER="postgres"
DB_PASSWORD="your-postgres-password"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="gp"
DB_URL="postgresql://postgres:your-postgres-password@localhost:5432/gp"

LEVER_API_KEY=
#google
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
ALGORITHM="HS256"
SECRET_KEY="your-secret-key"
FFMPEG_PATH=C:/ffmpeg-master-latest-win64-gpl/bin/ffmpeg.exe
