asyncpg==0.31.0
SQLAlchemy==2.0.46
alembic==1.18.4
pydantic==2.12.5
pydantic[email]
python-dotenv
bcrypt==5.0.0
fastapi==0.129.0
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles==25.1.0
httpx==0.28.1
psycopg2-binary