# Google OAuth Configuration
# Get your Client ID from: https://console.cloud.google.com/
VITE_GOOGLE_CLIENT_ID="588876503104-0tosl9203pauvdh92gqvql6scbcjm9r1.apps.googleusercontent.com"


# Backend API Configuration
VITE_API_BASE_URL=http://127.0.0.1:8000/api
